<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fresh new image storage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
            Hello <s>World</s> Store !
          </h1>
                <h2 class="subtitle">
            My first website with <strong>Bulma</strong>!
          </h2>
            </div>
        </div>
    </section>
    <section id="app" class="section">
        <div class="container">
            <div class="content field has-text-centered">
                <input v-model="name" class="input is-large" type="text" placeholder="Name (optional)">
                <input v-model="description" class="input is-large" type="text" placeholder="Description (optional)">
                <div class="field">
                  <div class="field">
                    <div class="file is-large is-fullwidth has-name">
                      <label class="file-label">
                        <input v-model="file" class="file-input" type="file" name="resume">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fa fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Large file…
                          </span>
                        </span>
                        <span class="file-name">
                          {{file}}
                        </span>
                      </label>
                    </div>
                </div>
                <a v-on:click="uploadImage" :disabled="!file" class="button is-large uploadButton">Upload image !</a>
                <hr />
                <table v-show="images.length > 0" class="table">
                  <thead>
                    <tr>
                      <th>Filename</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Lien</th>
                      <th>Supprimer</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="image in images">
                      <td>{{image.name}}</td>
                      <td>{{image.metadatas.name}}</td>
                      <td>{{image.metadatas.description}}</td>
                      <td><a :href="image.signedUrl"><i class="fa fa-picture-o" aria-hidden="true"></i><a/></td>
                      <td><button v-on:click="removeImage(image.metadatas.etag)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                    </tr>
                  <tbody>
                </table>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Scaleway Image Storage Challenge</strong> by <a href="https://iiaku.com">Yoann Gendrey</a>
                </p>
                <h3>Technology and tools we used</h3>
                <img src="assets/atom.png" alt="Atom" />
                <img src="assets/docker.png" alt="Docker" />
                <img src="assets/nodejs.png" alt="Node.js" />
                <img src="assets/postman.png" alt="Postman" />
                <img src="assets/redis.png" alt="Redis" />
                <img src="assets/vuejs.png" alt="Vue.js" />
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>s
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="src/app.js"></script>
</body>

</html>
